body {
    max-width: 500px;
    /* margin-left: 10rem; */
    /* margin-right: 10rem; */
    margin: auto;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: #342c33;
    color: #f2d6c5;
    font-family: Times New Roman, Georgia;
}

h1 {
    text-align: center;
}

a {
    color: #f2d6c5;
}

@media screen and (max-width: 1000px) {
    body {
        margin-left: 5vw;
        margin-right: 5vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

